* {
    font-family: 'Courier New';
}
h1,h3 {
    color: #b92b27;
}
p a {
    color: purple;
}
.up {
    background-color: green;
    color: antiquewhite;
}
.up + button {
    background-color: cornflowerblue;
}
p + h3 {
    text-decoration: underline;
}
div > input {
    background-color: darksalmon;
    color: antiquewhite;
}
input[type="text"] {
    color: red;
}
input[type="password"] {
    color: green;
}