.skin {
    height:200px;
    width:200px;
    border-radius:50%;
    background-color:#ffa220;
}
.mouth{
    height:40px;
    width: 120px;
    background-color:rgb(139, 47, 21);
    position: absolute;
    top:125px;
    left: 40px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}
.l-eye {
    background-color:black;
    height: 20px;
    width: 20px;
    position: relative;
    top: 30px;
    left: 40px;
    border-radius: 50%;
}
.r-eye {
    background-color:black;
    height: 20px;
    width: 20px;
    position: relative;
    top: 10px;
    left: 140px;
    border-radius: 50%;
}